.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  /*height: 100vh;  Magic here */
  display: flex; 
  justify-content: center;
  align-items: center;
}


li{
  font-weight: bold;
}

span{
  font-weight: normal;
}

h1{
  text-align: center;
}
table{
  width: 500px;
  
  border: 1px solid black;
  border-width: 1;
}
tbody{
  border: 1px solid white;
  background-color: salmon;
}
td {
  padding: 2px;
  text-align: left;
}
th {
  text-align: center;
}
thead{
  
  
  background-color: grey;
}